<div class="container-fluid">

  <header>

    <nav class="navbar navbar-expand-md bg-info">

        <a routerLink="" class="nav-link text-white">HOME</a>
        <a routerLink="calculadora" class="nav-link text-white">Calculadora</a>
        <a routerLink="positivo-negativo" class="nav-link text-white">Positivo/Negativo</a>
        <a routerLink="imc" class="nav-link text-white">IMC</a>
        <a routerLink="cadastro-pessoa" class="nav-link text-white">Cadastro de Pessoas</a>

    </nav>

  </header>

</div>

<router-outlet></router-outlet>
